@page "/Orders"
@model OrdersIndexModel

<h1>Orders</h1>
<table class="table">
    <thead><tr><th>Id</th><th>Customer</th><th>Total</th><th>Created</th></tr></thead>
    <tbody>
    @foreach(var o in Model.Orders)
    {
        <tr>
            <td>@o.Id</td>
            <td>@o.Customer?.Name</td>
            <td>@o.Total</td>
            <td>@o.CreatedAt</td>
        </tr>
    }
    </tbody>
</table>
